*{
    font-family: Ramabhadra;
}
/* Barra nav */
/* Fondo Barra nav */
.fondo-barra{
    background-color: #121212;  
}

/* Logo Barra Nav */
.logo-titulo{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 91px;
    color: #DFDFDF; 
}

#logo-barra-nav{
    background: url("../imagenes/logo.png");
    background-size: contain;
    border-radius: 15px;
    width: 130px;
    height: 87px;

}

/* menu-reproductor */
.menu-reproductor{
    position: fixed;
    left: 0;
    top: 0;
    width: 16.5%;
    height: 88.5%;
    background: #121212;
    padding-top: 1.62%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15px;

}

.menu-reproductor p {
    margin-top: 18px;
    display: inline-block;
}

.mi-coleccion{
    margin-top: 50px;
    margin-bottom: 50px;
}



.user{
    display: inline-block;
    margin-bottom: 25px;
   
}


.user p{
    display: inline-block;
    margin-left: 10px;
   

}
.menu-user{
    display: inline-block;
    width: 25px;
    margin-left: 98px;

}


.imagen-perfil{
    width: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    
}

section article img{
    width: 30px;
    height: 30px;
    margin-right: 19px;
    display: inline-block;
}


.reproductor{
   
    
    position: fixed;
    width: 100%;
    height: 141px;
    left: 0px;
    bottom: 0px;
    background: #121212;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 31px;
    padding-bottom: 16px;


}

hr{
    border: 1px solid #FFFFFF;
    margin-right: 99px;
    margin-top: 10px;
   
}

.cancion-reproduciendo img {
    width: 81px;
    height: 77px;
   
   
 
}
 
.cancion-reproduciendo{
    display: flex;
    margin-top: 35px;
}

.cancion-reproduciendo article{
    display: flex;
    flex-direction: column;
    
}

.cancion-reproduciendo p{
    margin-top: 0;
    margin-bottom:4px;
    
}


.acciones{
    margin-top: 35px;
    display: flex;
 
    margin-left: 90px;
    align-items: center;
}

.acciones img {
    margin-left: 10px;
    height: 45px;
    width: 45px;
}

.botones-reproductor{
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    align-items: center;
}

.botones-reproductor article {
    
    margin-top: 35px;
    margin-left: 30px;
}

.principal{
    width: 63px;
    height: 71px;

}

.secundario{
    width: 44px;
    height: 35.96px;
}

.config{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
}

#volumen{
    width: 131px;
    height: 6px;
}

#expandir{
    transform: rotate(-90deg);
    margin-left: 130px;
}

#duracion input{
    margin-left: 636px;
    width: 648px;
    height: 5px;
}

.contenedor{
    display: flex;

}

/* Elementos Barra Nav */
#botonera ul li a{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    color: #DFDFDF;
    padding: 0 35px;
}
/* Barra nav */

/* Seccion */
.introduccion{
    position: relative;
    background-image: url("../css/imagenes/background.jpg");
    background-size: cover;
    height: 80%;
    margin-top: 6%;
    padding: 5%;
}

.texto-introduccion{
    font-family: Ramabhadra;
    margin: 5% 10%;
    display: inline-block;
    text-align: center;
    color: white;
}

.texto-introduccion h1{
    padding-top: 5%;
    font-size: 40px;
}

.texto-introduccion p{
    font-size: 20px;
}

.texto-introduccion .btn-prueba{
    padding: 2.5% 7%;
    background-color: #F7A325;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    margin: 13% 0;
    color: white;
}
.imagen-discos img{
    width: 700px;
    height: 544px;
    border-radius: 20px;
}

.imagen-discos{
    position: absolute;
    display: inline-block;
    margin: 1% 12%;
}
/* Seccion */

/* Planes */
.ofertas{
    background-color: #111111;
}
.ofertas h1{
    text-align: center;
    color: white;
}

.contenedor-planes{
    margin: 3%
}

.tarjeta{
    padding: 0;
    width: 400px;
    height: 600px;
    border-radius: 16px;
    font-weight: bold;
}

.tarjeta .btn{
    border: solid black 1px;
    background-color: #F7A325;
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.encabezado{
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #b7b7b7;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.encabezado h3{
    font-weight: bold;
    padding: 1% 0;
}

.elementos-precios p{
    text-align: center;
    padding: 1%
}

.elementos-precios ul{
    list-style-type: none;
    padding: 5%;
}

.elementos-precios ul li{
    padding: 3%;
}

.item-beneficio img{
    margin-right: 3%;
    width: 31px;
}

.item-desventaja img{
    margin-right: 3%;
    width: 31px;
}

/* Footer */
footer img{
    width: 100%;
    height: 100%;
}

/* Log in */
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0);
}
  
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
  
.card-signin .card-body {
    padding: 2rem;
}
  
.form-signin {
    width: 100%;
}
  
.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}
  
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
  
.form-label-group input {
    height: auto;
    border-radius: 2rem;
} 
 
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
  
.btn-google {
    color: white;
    background-color: #ea4335;
}
  
.btn-facebook {
    color: white;
    background-color: #3b5998;
}
  
