*{
    font-family: Ramabhadra;
}
/* Barra nav */
/* Fondo Barra nav */
#fondo-barra{
    background-color: #121212;  
    padding: 1%;
}

/* Logo Barra Nav */
.logo-titulo{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 91px;
    color: #DFDFDF;
}

.logo-barra, .logo-barra:hover{
    text-decoration: none;
    font-size: 40px;
    color: #DFDFDF;
}

#logo{
    padding-right: 5%;
    width: 130px;
}

#logo-barra-nav{
    background: url("../imagenes/logo.png");
    background-size: contain;
    border-radius: 15px;
    width: 130px;
    height: 87px;

}

#fondo-barra ul li a.active{
    border-bottom: #F7A325 solid 2px;
}

/* Elementos Barra Nav */
.botones-nav ul li a{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    color: #DFDFDF;
}
/* Barra nav */

/* Seccion */
.introduccion{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.texto-introduccion{
    font-family: Ramabhadra;
    margin: 5% 10%;
    display: inline-block;
    text-align: center;
    color: white;
}
.texto-introduccion h1{
    display: none;
}

.texto-introduccion h2{
    padding-top: 5%;
    font-size: 40px;
}

.texto-introduccion p{
    font-size: 20px;
}

.texto-introduccion .btn-prueba{
    padding: 2.5% 7%;
    background-color: #F7A325;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    margin: 13% 0;
    color: white;
}
.imagen-discos img{
    width: 700px;
    height: 544px;
    border-radius: 20px;
}

.imagen-discos{
    position: absolute;
    display: inline-block;
    margin: 1% 5%;
}
/* Seccion */

/* Planes */
.ofertas{
    background-color: #111111;
}
.ofertas h1{
    text-align: center;
    color: white;
}

.contenedor-planes{
    margin: 3%
}

.tarjeta, .tarjeta-dividida, .tarjeta-ubicacion{
    padding: 0;
    width: 380px;
    height: 600px;
    border-radius: 16px;
    font-weight: bold;
}



.tarjeta .btn{
    border: solid black 1px;
    background-color: #F7A325;
    color: white;
    width: 50%;
    text-align: center;
    margin: 5% 0 0 50%;
    transform: translateX(-50%);
}

.encabezado{
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #b7b7b7;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.encabezado h3{
    font-weight: bold;
    padding: 1% 0;
}

.elementos-precios p{
    text-align: center;
    padding: 1%
}

.elementos-precios ul{
    list-style-type: none;
    padding: 5%;
}

.elementos-precios ul li{
    padding: 3%;
}

.item-beneficio img{
    margin-right: 3%;
    width: 31px;
}

.item-desventaja img{
    margin-right: 3%;
    width: 27px;
}
/* Planes */

/* Footer */
footer img{
    width: 100%;
    height: 100%;
}

.footer-mobile-azul{
    display: none;
}
/* Footer */

/* Log in */
.introduccion-login{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.login{
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    display: block;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0 5%;
}

.titulo-login{
    color: white;
    text-align: center;
} 

.login input{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid #BBBBBB;  
}  

.login label{
    font-size: 25px;
    margin-top: 5%;
} 

.login p{
    text-align: center;
    margin: 3%;
}

.btn-login{
    margin: 8% 0 2% 0;
    width: 100%;
    background-color: #F7A325;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2.5%;
}

.btn-facebook, .btn-google{
    width: 100%;
    background-color: #BBBBBB;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 0;
}

.btn-facebook img{
    width: 5%;
}

.btn-google img{
    width: 5%;
}

.btn-google span{
    width: 5%;
}

.login p a{
    text-decoration: none;
    color: #DFDFDF;
    font-weight: bold;
}

.footer-mobile-dark{
    display: none;
}

/* Log in */

/* Registro */
.introduccion-registro{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.registro{
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    display: block;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0 5%;
}

.titulo-registro{
    color: white;
    text-align: center;
} 

.registro input{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid #BBBBBB;  
}  

.registro label{
    font-size: 25px;
    margin-top: 5%;
} 

.registro p{
    text-align: center;
    margin: 3%;
}

.btn-login{
    margin: 8% 0 2% 0;
    width: 100%;
    background-color: #F7A325;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2.5%;
}

.input-menores{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}

.genero, .edad{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1%;
}

.input-menor{
    width: 100%;
}

.footer-mobile-dark{
    display: none;
}
/* Footer */

/* Reproductor Grande */
.reproductor-grande{
    background-color: #323232;
    color: white;
    padding: 3%;
}

.flecha-volver{
    width: 50px;
    transform: rotate(180deg);   
}

.titulo-votacion{
    margin-top: 2%;
    display: flex;
}

.votacion-megusta{
    margin-left: 15%;
}

.votacion-megusta .estrella-reproductor{
    padding-left: 5%;
}


.contenedor-cancion img{
    width: 450px;
    border-radius: 20px;
}

.contenedor-cancion .corazon-reproductor, .contenedor-cancion .estrella-reproductor{
    width: 40px;
}

#duracion{
    width: 70%;
}

.volumen-reproductor img{
    width: 4%;
}

.datos-cancion img{
    width: 12%;
}

.letra-cancion img{
    margin-left: 50%;
    transform: translateX(-50%);
}

.cancion .mockup-reproductor{
    width: 50%;
}
/* Reproductor Grande */


/* Media Querys */
@media only screen and (max-width: 600px) {
    /* Barra nav */
    .logo-barra span{
        display: none;
    }

    #fondo-barra{
        padding: 4%;
        width: 100%;
        height: 15%;
    }

    #logo{
        width: 80px;
    }

    /* Barra nav */

    /* Seccion introduccion */
    .imagen-discos{
        display: none;
    }

    .texto-introduccion {
        font-family: Ramabhadra;
        margin: 0 10%;
        display: inline-block;
        text-align: center;
        color: white;
    }

    .texto-introduccion h1{
        text-align: center;
        display: inline-block;
        margin: 10% 0 20% 0;
        font-size: 25px;
    }

    .texto-introduccion h2{
        display: inline-block;
        padding-top: 5%;
        font-size: 15px;
        text-align: center;
    }
    
    .texto-introduccion .btn-prueba{
        width: 100%;
        font-size: 14px;
    }

    .texto-introduccion p {
        font-size: 12px;
    }
    /* Seccion introduccion */

    /* Planes */
    .ofertas h1{
        font-size: 25px;
        padding-bottom: 10%;
    }

    .tarjeta{
        margin: 0 2%;
        width: 45%;
        height: auto;
        font-size: 10px;
    }

    .tarjeta-ubicacion{
        height: 400px;       
        width: 100%;
    }

    .tarjeta-dividida{
        width: 100%;
    }

    .encabezado{
        width: 100%;
    }

    .encabezado h3{
        padding-top: 10%;
        margin: 0;
        font-size: 20px;
    }

    .item-beneficio img{
        margin-right: 3%;
        width: 11px;
    }
    
    .item-desventaja img{
        margin-right: 3%;
        width: 7px;
    }

    .elementos-precios .btn{
        width: 60%;
    }

    .elementos-precios a{
        font-size: 10px;
    }

    footer img{
        display: none;
    }
    
    .footer-mobile-azul{
        display: inline;
        width: 100%;
    }
    /* Planes */

    /* Log In */
    .login {
        border-style: none;
        display: block;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        color: white;
    }
    .btn-login{
        margin: 15% 0 2% 0;
    }
    .titulo-login{
        font-size: 25px;
    }

    .login input{
        height: 40px;
    }

    .login label {
        font-size: 15px;
        margin-top: 10%;
    }

    .login p {
        font-size: 10px;
    }

    .footer-mobile-dark{
        display: inline;
        width: 100%;
    }
    /* Log in */

    /* Registrarse */
    .titulo-registro{
        font-size: 25px;
    }

    .registro {
        border-style: none;
        display: block;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    .registro input{
        height: 40px;
    }

    .registro label{
        font-size: 15px;
        margin-top: 10%;
    }

    /* Registrarse */
    
    /* Reproductor datos mobile */
    .datos-mobile{
        text-align: center;
    }

    .datos-cancion-mobile p{
        text-align: left;
    }

    .datos-cancion-mobile img{
        width: auto;
        height: 30px;
    }

    .reproductor-datos{
        background-color: #323232;
        color: #DFDFDF;
    }

    .reproductor-datos hr{
        width: 100%;
    }

    .reproductor-datos .flecha-volver{
        width: 30px;
    }
    /* Reproductor datos mobile */

}