*{
    font-family: Ramabhadra;
}
/* Barra nav */
/* Fondo Barra nav */
.fondo-barra{
    background-color: #121212;  
}

/* Logo Barra Nav */
.logo-titulo{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 91px;
    color: #DFDFDF; 
}

#logo-barra-nav{
    background: url("../imagenes/logo.png");
    background-size: contain;
    border-radius: 15px;
    width: 130px;
    height: 87px;

}

/* menu-reproductor */
.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #030303;
    padding-top: 1.62%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15px;

}
.inicio-menu p{
margin-bottom: 10%;

}

.mi-coleccion p {
    margin-top: 10%;
    margin-bottom: 0;
    display: inline-block;
}

.mi-coleccion{

    margin-top: 30%;
    
}



.user{
    display: inline-block;
    margin-bottom: 30%;
   
}


.user p{
    display: inline-block;
    margin-left: 10px;
   

}
.menu-user{
    display: inline-block;
    width: 25px;
    margin-left: 70px;

}


.imagen-perfil{
    width: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    
}

section article img{
    width: 30px;
    height: 30px;
    margin-right: 19px;
    display: inline-block;
}


.reproductor{
 
  
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    background: #030303;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 31px;
    padding-bottom: 16px;


}

hr{
    border: 1px solid #FFFFFF;
   
    margin-top: 10px;
   
}

.cancion-reproduciendo img {
    width: 71px;
    height: 67px;
   
   
 
}

.shuffle{
    width: auto;
    height: 4vh;
}
 
.cancion-reproduciendo{
    display: flex;

   
}

.cancion-reproduciendo article{
    display: flex;
    flex-direction: column;
    
}

.cancion-reproduciendo p{
    margin-top: 0;
    margin-bottom:2px;
    font-size: 0.7vw;
    
}

.acciones img {
    height: 2.5vh;
    width: auto;
}

.acciones{
   
    display: flex;
 
    margin-left: 4.4%;
    align-items: center;
}



.botones-reproductor{
    position: absolute;
    display: flex;
    flex-direction: row;
    left:39.7% ;
    right: auto;
    align-items: center;
}

.botones-reproductor article {
    
    margin-left: 1.4vw;
}

.principal{
   
    height: 3.7vh;
    width: auto;
}

.secundario{
   
    height: 2vh;
    width: auto;
}

.config img{
    height: 1.8vh;
    width: auto;
}

.config{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1%;
  
}

#volumen{
    width: 6.5vw;
    height: 4px;
}

#expandir{
    transform: rotate(-90deg);
    margin-left: 99px;
    width: auto;
    height: 2vh;
}

#duracion input{
    margin-left: 10px;
    margin-right: 10px;
    width: 30.3vw;
    height: 4px;
    
}

#duracion{
    position: absolute;
    top: 5px;
    left: 32.8%;
    
}

#duracion p{
    display: inline-block;

}


.contenedor{
    position: relative;
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-top: 4vh;
  
    
  

}

/* Elementos Barra Nav */
#botonera ul li a{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    color: #DFDFDF;
    padding: 0 35px;
}
/* Barra nav */

/* Seccion */
.introduccion{
    position: relative;
    background-image: url("../css/imagenes/background.jpg");
    background-size: cover;
    height: 80%;
    margin-top: 6%;
    padding: 5%;
}

.texto-introduccion{
    font-family: Ramabhadra;
    margin: 5% 10%;
    display: inline-block;
    text-align: center;
    color: white;
}

.texto-introduccion h1{
    padding-top: 5%;
    font-size: 40px;
}

.texto-introduccion p{
    font-size: 20px;
}

.texto-introduccion .btn-prueba{
    padding: 2.5% 7%;
    background-color: #F7A325;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    margin: 13% 0;
    color: white;
}
.imagen-discos img{
    width: 700px;
    height: 544px;
    border-radius: 20px;
}

.imagen-discos{
    position: absolute;
    display: inline-block;
    margin: 1% 12%;
}
/* Seccion */

/* Planes */
.ofertas{
    background-color: #111111;
}
.ofertas h1{
    text-align: center;
    color: white;
}

.contenedor-planes{
    margin: 3%
}

.tarjeta{
    padding: 0;
    width: 400px;
    height: 600px;
    border-radius: 16px;
    font-weight: bold;
}

.tarjeta .btn{
    border: solid black 1px;
    background-color: #F7A325;
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.encabezado{
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #b7b7b7;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.encabezado h3{
    font-weight: bold;
    padding: 1% 0;
}

.elementos-precios p{
    text-align: center;
    padding: 1%
}

.elementos-precios ul{
    list-style-type: none;
    padding: 5%;
}

.elementos-precios ul li{
    padding: 3%;
}

.item-beneficio img{
    margin-right: 3%;
    width: 31px;
}

.item-desventaja img{
    margin-right: 3%;
    width: 31px;
}

/* Footer */
footer img{
    width: 100%;
    height: 100%;
}

#titulo-carrousel{
    display: flex;
    align-items: center;
 
    
}
#titulo-carrousel img{
    width: 15px;
    height: 15px;
    margin-bottom: 8px;
    margin-left: 2%;
    
}
#titulo-carrousel :nth-child(2){
 
    margin-left: 5%;
    
}

#titulo-carrousel:first-child :nth-child(2){
    margin-right: 1px;
    transform: rotate(180deg);
    
}



::-webkit-scrollbar {
    display: none;
}

.inicio{
    position: absolute;
    width: 85%;
    height: 88%;
    left: 15%;
    top: 0;
    padding:  2.3% 50px 0 50px;
    overflow: scroll;
    background-color: #323232;

}

h2{
     
    font-size: 25px;
    color: white;
}

h1{
    color: white;
  
    font-size: 30px;
}



/* cambiar display none por flex para celu */

.nav-celu{
    display: none;
    width: 100%;
    background: #121212;
    color: white;
    
    padding: 1vh 8vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.nav-celu p {
    margin-bottom: 0;
    font-size: 10px;
}
.nav-celu article{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
}

.nav-celu img{
    width: 6vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

#expandir2{
    display: none;
    transform: rotate(-90deg);
    height: 2.5vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  
}

.nav-cel-top{
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 9%;
    background: #121212;
    align-items: center;
    padding: 0 8vw;
    color: #FFFFFF;
}

.nav-cel-top img {
    border-width: 10px;
    border-radius: 75px;
    width: 8vw;
    height: auto;
    margin-right: 12px;

}

#dropdown-user{
    display: none;
    position: absolute;
    right: 8%;
  
}

#dropdown-user span{
    font-size: 6vw;
   
}

.carrousel{
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3.9%;
    margin-top: 2%;
    overflow: scroll;
    padding: 0;
    
}

.carrousel img {
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0;
  
}

.carrousel article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
    text-align: center;
    max-width: 150px;
}

.carrousel article :nth-child(2){
    margin-top: 10%;
    font-size: 15px;
    margin-bottom: 3%;
 
}

.carrousel article :nth-child(3){
    font-size: 13px;
    
 
}

.coleccion .carrousel article div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 80px;
    background-color: #C4C4C4;
    border-radius: 10px;

}

/* cambiar display none por flex desde js */
.dropdown-user-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 9%;
    right: 0;
    width: 100%;
    background: #121212;
    
    z-index: 10;
    padding: 0 4%;
    
    
}

.dropdown-user-menu a{
    padding: 5%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
  
    
}

.coleccion{
    display: none;
}


.coleccion .carrousel article img{
    width: 60px;
    height: 60px;
  

}


#titulo-contenido{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}
#titulo-contenido h1{
    
    border-color: #F7A325;
    border-width: 2px;
    border-bottom-style: solid;
    
  width: 100px;
}




#titulo-contenido :nth-child(2){
  width: 30%;
margin-right: -4%;
}


@media only screen and (max-width: 600px){
    .carrousel article :nth-child(2){
        margin-top: 5px;
        font-size: 12px;
     

    }

    
#titulo-contenido :nth-child(2){
  display: none;
  }

    #titulo-carrousel img { 
        display: none;
    }
    
    .carrousel article :nth-child(3){
        font-size: 10px;
     
    }

    .carrousel article{
        margin-right: 15px;
        max-width: 80px;
    }

    .carrousel img {
        max-width: 80px;
        width: 80px;
        height: 80px;
    }

    .carrousel{
        margin-top: 0;
        padding: 1%;
        margin-bottom: 10%;
    }
    
    .coleccion{
        display: block;
  

    }   

    #titulo-contenido{
        display: none;
    }
    
    #dropdown-user{
        display: block;
    }
    .nav-celu{
        display: flex;
    }

    p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .reproductor{
        bottom: 8.9%;
        padding-left: 8%;
        padding-right: 8%;
        height: 12%;
        width: 100%;
        padding-bottom: 0;
    }
    .reproductor #duracion, .secundario,  .acciones, .config , .shuffle{
        display: none;}

    .reproductor .botones-reproductor{
        left: 82%;
        
    }
    .contenedor{
       margin-top: 4%;     
         
    }

     .cancion-reproduciendo p{
        font-size: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .cancion-reproduciendo :nth-child(3) :nth-child(2){
        display: none;
    }

  

    .cancion-reproduciendo #titulo-cancion {
        font-size: 12px;
    }


    .reproductor .principal{
        width: 10vw;
        height: auto;
        margin-right: 0;
        
    }

    .cancion-reproduciendo img{
        width: 14vw;
        height: auto;
    }

    #expandir2{
        display: block;

    }

    .menu{
        display: none;
    }
    .inicio{
        top: 9%;
        left: 0;
        width: 100%;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 8%;
        height: 70%;
        overflow: scroll;
      
    }
    h1{
        margin: 0 0 5% 0;
        font-size: 20px;
     
    }

    hr{
        display: none;
        
    }

    .nav-cel-top{
        display: flex;
    }
    
   
}