body{
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
}

.barra-superior, .barra-inferior, .inferior{
    background-color: rgba(59, 59, 59, 0.692);
    justify-content: center;
    padding: 1%;
}

.paint-canvas {
    background-color: white;
    border: 1px black solid;
    justify-content: center;
    margin: 0 1% 0 -3%;
}
  
.color-picker {
    margin: 1%;
}